
<div class="form-group">
	<div class="col-lg-4">
		<label for="title">Titre:</label>
		<input class="form-control" id="title" type="text" id="title" name="title" value="<%=song.title%>">
	    <label for="album">Album:</label>
	    <input class="form-control" id="Album" type="text" name="album" value="<%=song.album%>">
		<label for="album">Artiste:</label>
		<input class="form-control" id="Artiste" type="text" name="artist" value="<%=song.artist%>">
	    <label for="album">Année:</label>
	    <input class="form-control" id="Year" type="text" name="year" value="<%=song.year%>"><br/>
	    <label for="album">BPM:</label>
	    <input class="form-control" id="BPM" type="text" name="bpm" value="<%=song.bpm%>"><br/>
	    <button type="submit" class="btn btn-default">Submit</button>
	</div>
</div>
